@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/App/Test/App.js"></script>
    <script src="~/App/Test/ViewModels/RootViewModel.js"></script>
    <script src="~/App/Test/ViewModels/TestViewModel.js"></script>
    }

@section jsCode{
    angular.bootstrap(document.getElementById("test"), ['test']);
    }

<div data-ng-app="test" id="test" data-ng-controller="rootViewModel">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="showTest()">Test</button>&nbsp;
            <input type="text" ng-model="testService.testId" />
        </div>
    </div>
    <hr />
    <div ng-view></div>
</div>