@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>testing page</title>
</head>
<body>
    <div>
    THIS IS A TEST
    </div>
</body>
</html>
